.beast {
  border: 1px solid gray;
  padding: 1vw;
  margin-bottom: 1vw;
  width: 19%;
}

.beast h3 {
    font-size: 2vw;
  }
.beast h4 {
  font-size: 1.7vw;
  cursor: pointer;
}

.beast img {
  width: 100%;
}

.beast p {
  font-size: 11px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}

.beast p:last-of-type {
  padding-left: 1rem;
}

.beast h4:hover {
  color: purple;
}

.beast-button {
  margin: .2rem .1vw;
}